<h2>Por Capital</h2>

<hr>

<div class="row">

  <div class="col">
    <!-- Search Box -->
    <!-- Presionando ENTER para buscar -->
    <!-- <shared-search-box
      (onValue)="searchByCapital($event)"
      placeHolder="Buscar por capital"
    ></shared-search-box> -->

    <!-- Busqueda al dejar de pulsar teclas durante X ms -->
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      [initialValue]="initialValue"
      placeHolder="Buscar por capital"
    ></shared-search-box>
  </div>

</div>

<div class="row">

  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

    <countries-table [countries]="countries"></countries-table>
  </div>

</div>
